* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    border-radius: 10px;
    padding: 0%;
    max-width: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-1 {
    width: 100%;
    display: block;
}

.img-2 {
    display: none;
}

.card {
    display: block;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 0px 30px 20px 30px;
}

h6, p, button {
    font-family: 'Montserrat', sans-serif;
}

h1, h3 {
    font-family: 'Fraunces', serif;
}

#discount {
    text-decoration: line-through;
    display: inline-block;
    margin: 0px;
    padding: 10px;
    text-align: start;
}

#title {
    letter-spacing: 5px;
}

h6 {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    margin: 20px 0px 0px 0px;
}

h1 {
    color: hsl(212, 21%, 14%);
    margin: 10px 0px;
}

h3 {
    font-size: 1.8em;
    display: inline;
    color: hsl(158, 36%, 37%);
}

button {
    width: 100%;
    height: 40px;
    margin: 20px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
}

svg {
    margin-right: 10px;
}

p {
    font-size: .9em;
    color: hsl(228, 12%, 48%);
    margin: 20px 0px 25px 0px;
    line-height: 24px;
}

button:hover {
    background-color: hsl(158, 47%, 27%);
    cursor: pointer;
}

button:active {
    background-color: hsl(158, 36%, 19%);
    cursor: pointer;
}

@media all and (max-width: 375px) {
    .container {
        display: block;
        width: 95%;
    }
    .img-1 {
        display: none;
    }
    .img-2 {
        display: block;
        width: 100%;
    }
}